<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base target="_blank" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>爬虫</title>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 <div class="tips">爬虫初始化完成，点击开始抓取数据</div>
 <div class="btn-wrap">
  <div class="el-button" data-dir="pre">抓取上一页</div>
  <div class="el-button" data-dir="next">抓取下一页</div>
</div>
 <ul class="wrap">
 </ul>
 <script>
 $(function(){
   var page=1;
   var isLoading=false;
   $(".el-button").click(function(){
     if(isLoading) return;
     isLoading=true;
     var isNext=$(this).attr("data-dir")=="next";
      $.ajax({
        method:"GET",
        url:"/getData",
        data:{
          page:page
        },
        success:function(res){
           isNext? page++ :page--;
           isLoading=false;
           if(res.code==0){
             var _html="";
             for(var i=0;i<res.data.length;i++){
              _html+="<li>";
              _html+="<p><span>序号：</span><em>"+i+"</em></p>"
              _html+="<p><span>标题：</span><em>"+res.data[i].title+"</em></p>"
              _html+="<p><span>大小：</span><em>"+res.data[i].size+"</em></p>"
              _html+="<p><span>位置：</span><em>"+res.data[i].loca+"</em></p>"
              _html+="<p><span>地铁：</span><em>"+res.data[i].train+"</em></p>"
              _html+="<p><span>链接：</span><a href='"+res.data[i].url+"'>点我访问</a></p>"
              _html+="</li>";
             }
           }
           $(".wrap").append(_html)
        },
        error:function(err){
            console.log(err)
        }
          
      })
   })
 })
 </script>
</body>
</html>
